#RE
{
    float: right;
    margin-top: 70px;
    margin-right: 100px;
    color: #96D5F0;
}

#heading
{
    margin-top: 50px;
    background-color: #05101B;
}

#blizz-logo
{
   padding-top: 25px;
   padding-bottom: 25px;
}

#horde
{
    padding-top:50px;
    height: 200px;
}

#alliance
{
    padding-top:50px;
    height: 200px;
}

.btn-group-vertical
{
    padding-top: 25px;
}

#racepic
{
    padding-top: 100px;
    padding-left: 50px;
    width:500px;
}

#info
{
    padding-top: 100px;
}